header{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.logo-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-de-google{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 272px;
    height: 92px;
    
}

.logo{
    max-width: 100%;
    max-height: 100%;
}

.seccion-de-busqueda{
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra-de-busqueda{
    display: flex;
    flex-direction: row;
    height: 20vh;
    position: relative;

}

.search{
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    width: 70vh;
    height: 20%;
    position: relative;
}

.img{
    height: 20%;
    
}

.imagen-busqueda-izquierdo{
    justify-content: flex-start;
    position: absolute
    
    
}

.imagen-busqueda-derecho{
    justify-content: flex-end;
    position: relative;
    right: 55px;
    
}